.afatozm__line{
    display: block;
    width: 140px;
    border: 1px solid #DBDBDB;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;
} 
.afarizm__text{
    position: relative;
    width: 850px;
    margin: 0 auto;
    color: #949494;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    &::before{
        content: "";
        position: absolute;
        z-index: 2;
        background-repeat: no-repeat;
        background-image: url(../images/“-open.png);
        width: 70px;
        height: 70px;
        top: -30px;
        left: -120px;
    }
    &::after{
        content: "";
        position: absolute;
        z-index: 2;
        background-repeat: no-repeat;
        background-image: url(../images/“-close.png);
        width: 70px;
        height: 70px;
        bottom: -30px;
        right:-120px;
    }
}
.afarizm__strong-text{
    margin-left: 512px;
}
